@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap');
body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-size: 1.5em;
    color: #000;

    svg {
        width: 100%;
    }
}
//logo
.logo {
    img {
        width: 200px;
    }
}
#app {
    h1 {
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 0.5em;
    }
    p {
        font-size: 1.5em;
        line-height: 1.2em;
        margin: 0.5em 0;
    }
    .base-btn {
        background: linear-gradient(251.33deg, #0500F7 -3.67%, #9309FF 57.1%, #FF03E6 121.41%);
        border-radius: 10px;
        color: #fff;
        font-size: 1.2em;
        font-weight: 600;
        padding: 10px 15px;
        margin: 0.5em 0;
    }
    #deliveryBoy {
        width: 80%;
        margin: 0.5em 0;
    }
    @media(min-width: 1300px) {
        h1 {
            font-size: 5em;
            text-align: left;
            margin-top: 1.2em;
            margin-bottom: 0.3em;
        }
        p {
            font-size: 3.5em;
            text-align: left;
            font-weight: 600;
            margin-top: 0;
        }
        .base-btn {
            font-size: 2em;
            float: left;
        }
        #deliveryBoy {
            width: 100%;
        }
        .hero-content {
            align-self: center;
        }
    }
}
